/target
**/*.sv
**/*.sv.bak
**/*.f
**/*.qpf
**/*.qsf.bak
**/*_description.txt
**/*_model_dump.txt
**/*.qws
**/simulation/
**/output_files/
**/incremental_db/
**/devkits/
**/db/
.qsys_edit/
**/*.qsf
**/*.stp
!DE0-CV_pin.qsf
6502.*
!6502.sdc
